<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mindmap">
      <h2 data-cy="mindmapDetailsHeading"><span jhiTranslate="createyourhumanityAngularApp.mindmap.detail.title">Mindmap</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mindmap.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourhumanityAngularApp.mindmap.text">Text</span></dt>
        <dd>
          <span>{{ mindmap.text }}</span>
        </dd>
        <dt><span jhiTranslate="createyourhumanityAngularApp.mindmap.modified">Modified</span></dt>
        <dd>
          <span>{{ mindmap.modified | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mindmap', mindmap.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
