<div *jhiHasAnyAuthority="'ROLE_USER'" >
  <jhi-tree-profile-menu></jhi-tree-profile-menu>
</div>

<div class="row profile-banner">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12  profile-title">
        <h1>{{ 'form.my-profile' | translate }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 profile-description">
        <div class="row">
          <div class="col-md-12 align-center">
            <label for="desc">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12  align-center">
            <quill-editor class="quill-profile" [(ngModel)]="description" [style]="{'height':'400px'}" [modules]="modules" (onContentChanged)="saveUserDescription()"></quill-editor>
            <input type="file" style="display: none" id="fileInputField"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 profile-image" *ngIf="user && user.id">
    <jhi-calculate-percent-of-profile [userId]="user.id"></jhi-calculate-percent-of-profile>
  </div>
  <div class="col-md-4 profile-image">
    <div class="div-user" *ngIf="user && user.imageUrl">
      <img class="user-image" src="{{ user.imageUrl }}">
    </div>
  </div>
</div>

<mat-tab-group #mainTabView (selectedTabChange)="handleChange($event, 'main')">
  <mat-tab label="Mindmap">
    <jhi-createyourhumanity-mindmap></jhi-createyourhumanity-mindmap>
  </mat-tab>
  <mat-tab label="Profile">
    <mat-tab-group #profileTabView (selectedTabChange)="handleChange($event, 'profile')">
      <mat-tab [label]="item.header" *ngFor="let item of items; let i = index">
        <div appProfileHost></div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>

