<ng-container *ngIf="profileUser">
  <div class="row profile-banner">
    <div class="col-md-6 profile-title">
      <h1>{{ 'form.profile-from' | translate }} {{profileUser.lastName}} {{profileUser.firstName}}</h1>
    </div>
    <div class="col-md-6 profile-image">
      <div class="div-user" *ngIf="profileUser.imageUrl">
        <img class="user-image" src="{{ profileUser.imageUrl }}">
      </div>
    </div>
  </div>

  <mat-tab-group #mainTabView  (selectedTabChange)="handleChange($event)">
    <mat-tab label="Mindmap">
      <jhi-createyourhumanity-mindmap-profile></jhi-createyourhumanity-mindmap-profile>
    </mat-tab>
    <mat-tab label="Profile">
      <mat-tab-group #profileTabView>
        <mat-tab [label]="item.header" *ngFor="let item of items; let i = index">
          <ng-container appProfileViewPageHost></ng-container>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>

