<div>
  <h2 id="page-heading" data-cy="FormulaDataHeading">
    <span jhiTranslate="createyourhumanityAngularApp.formulaData.home.title">Formula Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyourhumanityAngularApp.formulaData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formula-data"
        [routerLink]="['/formula-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyourhumanityAngularApp.formulaData.home.createLabel"> Create a new Formula Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formulaData?.length === 0">
    <span jhiTranslate="createyourhumanityAngularApp.formulaData.home.notFound">No formulaData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formulaData && formulaData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.formulaData.map">Map</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.formulaData.grant">Grant</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.formulaData.created">Created</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.formulaData.modified">Modified</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.formulaData.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formulaData of formulaData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/formula-data', formulaData.id, 'view']">{{ formulaData.id }}</a>
          </td>
          <td>{{ formulaData.map }}</td>
          <td>{{ formulaData.grant }}</td>
          <td>{{ formulaData.created | formatMediumDatetime }}</td>
          <td>{{ formulaData.modified | formatMediumDatetime }}</td>
          <td>
            {{ formulaData.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/formula-data', formulaData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/formula-data', formulaData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(formulaData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
