
/* ==========================================================================
Main page styles
========================================================================== */
.app-container .view-container .view-routes > div.wise-editor {
  height: 0px;
}

.wise-editor {
  width: 100% !important;
  height: 700px !important;
}

.mindplot {
  width: 100%;
  height: 800px;
}
