.jh-card {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100&0.65+0,0.75+100;Gold+3D */
  background: -moz-linear-gradient(top,  rgba(254,252,234,0.65) 0%, rgba(241,218,54,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,252,234,0.65) 0%,rgba(241,218,54,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,252,234,0.65) 0%,rgba(241,218,54,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6fefcea', endColorstr='#bff1da36',GradientType=0 ); /* IE6-9 */
}
