<div>
  <h2 id="page-heading" data-cy="FriendrequestHeading">
    <span jhiTranslate="createyourhumanityAngularApp.friendrequest.home.title">Friendrequests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyourhumanityAngularApp.friendrequest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friendrequest"
        [routerLink]="['/friendrequest/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyourhumanityAngularApp.friendrequest.home.createLabel"> Create a new Friendrequest </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="friendrequests?.length === 0">
    <span jhiTranslate="createyourhumanityAngularApp.friendrequest.home.notFound">No friendrequests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="friendrequests && friendrequests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.friendrequest.requestDate">Request Date</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.friendrequest.requestUserId">Request User Id</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.friendrequest.info">Info</span></th>
          <th scope="col"><span jhiTranslate="createyourhumanityAngularApp.friendrequest.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendrequest of friendrequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/friendrequest', friendrequest.id, 'view']">{{ friendrequest.id }}</a>
          </td>
          <td>{{ friendrequest.requestDate | formatMediumDatetime }}</td>
          <td>{{ friendrequest.requestUserId }}</td>
          <td>{{ friendrequest.info }}</td>
          <td>
            {{ friendrequest.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/friendrequest', friendrequest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/friendrequest', friendrequest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(friendrequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
