<h1><span >Userlist</span></h1>
<p-dataView #dv [value]="users" [paginator]="true" [rows]="4" filterBy="firstName"
[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
<ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Name" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getSearch($event))">
        </span>
    </div>
</ng-template>
<ng-template let-user pTemplate="gridItem">
  <p-card header="{{user.firstName}} {{user.lastName}}" subheader="" [style]="{width: '360px', display: 'inline-block', margin: '15px'}" styleClass="p-card user-box">
      <ng-template pTemplate="header">
        <div class="div-user" *ngIf="!user.imageUrl">
          <img class="user-image" src="../../content/images/userlist/user.png">
        </div>
        <div class="div-user" *ngIf="user.imageUrl">
          <img class="user-image" src="{{ user.imageUrl }}">
        </div>
      </ng-template>
        <p class="user-description">
          {{user.description}}
        </p>
      <ng-template pTemplate="footer">
        <div class="add-request">
          <p-button (click)="addFriendRequest(user.id)">
            <fa-icon icon="user-plus"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="userlist.addFriendRequest">Friendrequest</span>
          </p-button>
          <hr/>
          <p-button (click)="showProfile(user.id)">
            <fa-icon icon="id-card-clip"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="userlist.showProfile">Show Profile</span>
          </p-button>
          <p-button (click)="showMindmapProfile(user.id)">
            <fa-icon icon="diagram-project"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="userlist.showMindmapProfile">Show Mindmap Profile</span>
          </p-button>
        </div>
      </ng-template>
  </p-card>
</ng-template>
</p-dataView>
