<p-dataView #dv [value]="friends" [paginator]="true" [rows]="9" filterBy="firstName"
[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
<ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getSearch($event))">
        </span>
    </div>
</ng-template>
<ng-template let-friend pTemplate="gridItem">
  <div class="p-col-12 p-md-4">
    <div class="friend-grid-item card">
        <div class="friend-grid-item-top">
          <div><img src="{{ friend.imageUrl }}"/></div>
        </div>
        <div class="friend-grid-item-content">
            <div class="friend-name">{{friend.firstName}} {{friend.lastName}}</div>
            <div class="friend-description">{{friend.description}}</div>
        </div>
        <div class="friend-grid-item-bottom">
          <div class="container-fluid">
            <div class="container_control">
                <p-button (click)="deleteFriend(friend.id)">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="friendlist.deleteFriend">Delete friend</span>
                </p-button>
                <p-button (click)="showProfile(friend.id)">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="friendlist.showProfile">Show profile</span>
                </p-button>
            </div>
          </div>
        </div>
    </div>
</div>
</ng-template>
</p-dataView>
