<p-dataView #dv [value]="friends" [paginator]="true" [rows]="9" filterBy="firstName"
[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
<ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Name" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getSearch($event))">
        </span>
    </div>
</ng-template>
<ng-template let-friend pTemplate="gridItem">

<p-card header="" subheader="" [style]="{width: '360px', display: 'inline-block', margin: '15px'}" styleClass="p-card">
  <ng-template pTemplate="header">
    <div class="div-user" *ngIf="!friend.imageUrl">
      <img class="user-image" src="../../content/images/userlist/user.png">
    </div>
    <div class="div-user" *ngIf="friend.imageUrl">
      <img class="user-image" src="{{ friend.imageUrl }}">
    </div>
  </ng-template>
    <p class="user-name">
      {{friend.firstName}} {{friend.lastName}}
    <p class="user-description">
      {{friend.description}}
    </p>
  <ng-template pTemplate="footer">
    <div class="add-request">
      <p-button (click)="showProfile(friend.id)">
        <fa-icon icon="id-card-clip"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="userlist.showProfile">Show Profile</span>
      </p-button>
      <p-button (click)="showMindmapProfile(friend.id)">
        <fa-icon icon="diagram-project"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="userlist.showMindmapProfile">Show Mindmap Profile</span>
      </p-button>
      <hr/>
      <p-button (click)="deleteFriend(friend.id)">
        <fa-icon icon="times"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="friendlist.deleteFriend">Delete friend</span>
      </p-button>
    </div>
  </ng-template>
</p-card>
</ng-template>
</p-dataView>
