h1 {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  text-align: center;
}

.alert-success {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  border: 3px solid #fff;
  border-radius: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
  background: rgb(201,222,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  color: #fff;
  font-weight: bold;
}

.alert-danger {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  border: 3px solid #fff;
  border-radius: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
  background: rgb(252,236,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */
  color: blueviolet;
  font-weight: bold;
}

.list-first {
  font-weight: bold;
  font-size: x-large;
  color: #fff;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.list-seccond {
  font-size: large;
  font-weight: normal;
}

.box-green {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
  background: rgb(180,221,180); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
}

.box-aqua {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179,220,237); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
}

.box-yellow {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: rgb(254,252,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
}

.margin-40 {
  margin-top: 40px;
}

.margin-10 {
  margin-top: 10px;
}

.mindmap-title {
  color: #333333;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
}

.center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.logo-createyourhumanity {
  width: 200px;
}

.mindmap-to-webform {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.legend {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: rgb(203,96,179); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px -3px 15px -3px rgba(0,0,0,0);
  color: #fff;
}

.content-3 {
  margin-top: 20px;
}
