<h1>Welcome on Create Your Humanity</h1>

<div class="row">
  <div class="col-md-4 box-green">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-first">
          <li jhiTranslate="main.logical-profile">Create your own logically profile</li>
          <li jhiTranslate="main.relations">Useful for any kind of relationship</li>
          <li>
            <span jhiTranslate="main.approach-platform">Great place to go for:</span>
            <ul class="list-seccond">
              <li jhiTranslate="main.dating">Dating</li>
              <li jhiTranslate="main.job">Job and work</li>
              <li jhiTranslate="main.learning-groups">Learning groups</li>
              <li jhiTranslate="main.societies">Societies</li>
              <li jhiTranslate="main.churches">Churches</li>
              <li jhiTranslate="main.etc">Etc.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img width="230px" src="../../content/images/home/humanity-network.png"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="box-yellow center">
          <img class="logo-createyourhumanity" src="../../content/images/home/createyourhumanity.png"/>
        </div>
      </div>
    </div>
    <div class="row margin-10">
      <div class="col-md-12">
        <ng-container *ngIf="!account">
          <div class="alert alert-danger" role="alert">
            You are logged off. Do you like to register a user account on Create Your Humanity.
            <hr>
            <p-button (click)="login()">
              <fa-icon icon="right-from-bracket"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="main.register-sign-up">Register / Sign up</span>
            </p-button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4 box-aqua">
    <h2 class="mindmap-to-webform" jhiTranslate="main.intro-title">From a mind map to a web form to your own personal profile...your own CV on the internet</h2>
    <div jhiTranslate="main.intro">
      Intro_Text
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12 margin-40">
    <h2 class="mindmap-title" jhiTranslate="main.mindmap-title"></h2>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <jhi-mindmap-home-component></jhi-mindmap-home-component>
      </div>
    </div>
  </div>
</div>
<div class="row content-3">
  <div class="col-md-6">
    <div class="legend">
      <img src="../../content/images/instructions/Lengende-Form-Kontrol-Bedienung.png" />
    </div>
  </div>
  <div class="col-md-6 box-yellow">
    <h1 jhiTranslate="main.instruction-title"></h1>
    <div jhiTranslate="main.instruction"></div>
    <div jhiTranslate="main.instruction-ps"></div>
    <hr/>
    <ng-container *ngIf="!account">
      <div class="developer">
        <h3 jhiTranslate="main.developer-title">Developer from www.createyourhumanity.org</h3>
        <span jhiTranslate="main.developer">
          I am the developer of www.createyourhumanity.org. Our motto should be clear and unambiguous: "Open, transparent and logical" for everyone. With www.createyourhumanity.org we would like to build a kind of family tree on which we try to logically depict the connections of our earth with a mind map and then on this basis open a web form for everyone in which, depending on how much one wants to announce, fill out this form for yourself. We at www.createyourhuamnity.org then try to map logical relationships in reality based on this information. According to the motto: "Connect virtual enjoy it real..."
          With this approach, we hope to make the Internet a little more what it was originally intended for. Just to connect virtually but to implement this connection in reality.
          I hope you enjoy filling out your personal profile.
        </span>
      </div>
      <jhi-user-box-slider [userId]="'46305811-b73f-45ec-9dd6-b4939543ea23'"></jhi-user-box-slider>
    </ng-container>
    <ng-container *ngIf="account">
      <jhi-user-box-slider></jhi-user-box-slider>
    </ng-container>
  </div>
</div>
