<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="keyTable">
      <h2 data-cy="keyTableDetailsHeading"><span jhiTranslate="createyourhumanityAngularApp.keyTable.detail.title">Key Table</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ keyTable.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourhumanityAngularApp.keyTable.key">Key</span></dt>
        <dd>
          <span>{{ keyTable.key }}</span>
        </dd>
        <dt><span jhiTranslate="createyourhumanityAngularApp.keyTable.created">Created</span></dt>
        <dd>
          <span>{{ keyTable.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyourhumanityAngularApp.keyTable.modified">Modified</span></dt>
        <dd>
          <span>{{ keyTable.modified | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/key-table', keyTable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
